<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Nile - Customer</title>
</head>

<body>
    <h1 class="heading">Shopping Interface</h1>
    <div id="shopping">
        <h1>Current Products</h1>
        <ul>
            <li v-for="product in sortedProducts">
                <span><input type="checkbox" v-model="product.selected" /></span> &nbsp &nbsp{{product.name}}, ${{product.price}} &nbsp &nbsp
                <img v-bind:src="product.url">
            </li>
        </ul>
        <button type="submit" v-on:click="purchase()">Add to Cart</button>
        <h1>Shopping Cart</h1>
        <ul>
            <li v-for="product in sortedCart">
                &nbsp &nbsp{{product.name}}, ${{product.price}} &nbsp &nbsp<img v-bind:src="product.url">
            </li>
        </ul>
        <div class="footer"><a href="./index.html">Home</a></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="./javascripts/script.js"></script>
</body>
